pkgbase = omus
	pkgdesc = One Mouse Universal System for Linux
	pkgver = 1.0.1
	pkgrel = 1
	url = https://github.com/DonGeronimo7/OMUS
	arch = any
	license = GPL-3.0-or-later
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	depends = python
	depends = python-evdev
	depends = python-dbus-next
	depends = python-packaging
	depends = systemd
	source = omus::git+https://github.com/DonGeronimo7/OMUS.git#tag=v1.0.1
	sha256sums = SKIP

pkgname = omus
