pkgbase = mouse-control
	pkgdesc = Headless evdev/uinput mouse remapping with optional hardware backends
	pkgver = 0.7.2
	pkgrel = 1
	url = https://github.com/DonGeronimo7/mouse-control
	arch = any
	license = GPL-3.0-or-later
	depends = python
	depends = python-evdev
	depends = python-dbus-next
	depends = systemd
	optdepends = openrazer: optional Razer hardware integration
	source = https://github.com/DonGeronimo7/mouse-control/releases/download/v0.7.2/mouse_control-0.7.2.tar.gz
	sha256sums = d8f584bc4939f827e657e74bd1cf66867a2f7dbf077195fb48bcba8d9dd13f0d

pkgname = mouse-control
